apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-keyvault
spec:
  provider: azure
  parameters:
    keyvaultName: <KEYVAULT_NAME>
    tenantId: <TENANT_ID>
    objects: |
      array:
        - |
          objectName: grafana-admin-password
          objectType: secret
