name: App Deploy

on:
  push:
    paths:
      - apps/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: azure/setup-kubectl@v3
    - uses: azure/setup-helm@v4

    - name: Team A
      run: |
        helm upgrade --install team-a-app helm-charts/generic-app \
        -n team-a -f apps/team-a/helm-values.yaml
