name: Platform Services

on:
  push:
    paths:
      - platform-services/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: azure/setup-kubectl@v3
    - uses: azure/setup-helm@v4

    - name: Ingress
      run: |
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm upgrade --install ingress ingress-nginx/ingress-nginx \
          -n ingress-nginx --create-namespace \
          -f platform-services/ingress/values.yaml

    - name: Observability
      run: |
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
        helm upgrade --install monitoring prometheus-community/kube-prometheus-stack \
          -n monitoring --create-namespace \
          -f platform-services/observability/values.yaml
