name: Terraform Platform

on:
  push:
    paths:
      - terraform/**

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: hashicorp/setup-terraform@v3

    - name: Azure Login via OIDC
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        allow-no-subscriptions: true
    - name: Terraform Init
      run: terraform init
      working-directory: terraform
    - name: Terraform Plan
      run: terraform plan -var-file=terraform.tfvars
      working-directory: terraform

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -var-file=terraform.tfvars -auto-approve
      working-directory: terraform
